footer {
  background-color: black;
  color: white;
  margin-top: 200px;
  position: absolute;
  right: 0;
  left: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
}

.footer-info {
  display: inline-block;
  vertical-align: top;
}

.last-footer {
  position: absolute;
  bottom: 20px;
  right: 20px;
}


.list {
  
}